


.content2{
    width: 100%;
    height: 140%;
  
    position: absolute;
    margin-top: 1070px;
  
 
 }
 h5{
   font-size: larger;
 
 }


.coinsph{
  
     height: 51%;
     width: 75%;
     position: absolute;
     margin-left: 15%;
     margin-top: 5%;
   

}

.paymentlater
{
 
 position: absolute;
margin-left: 25%;
width: 500px;
height: 500px;
margin-top: 50px;

}

.paymentani
{
    color: white;
    font-size:  150px;
    font-family: Circular Pro Medium,sans-serif;
   
}

.paymentaniup1 {
  
    animation: 2s anim-paymentaniup1 ease-out ;
  }
  @keyframes anim-paymentaniup1 {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


  
.paymentaniup2 {
    animation: 3s anim-paymentaniup2 ease-out ;
  }
  @keyframes anim-paymentaniup2 {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .paymentaniup3 {
    animation: 4s anim-paymentaniup3 ease-out ;
  }
  @keyframes anim-paymentaniup3 {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
/* PAYMENT MINI AND ANIMATION  */

.paymentminiup

{
    width: 100%;
    height: 80px;
  
    position: absolute;
    padding: 16px;
    margin: 0px;
    text-align: center;
    
    
}

.paymentminiup1
{
 font-size: 20px;
 display: inline-block;
 animation-delay: 2s;
 animation-name:paymentminiup1;
 animation-duration: 1s;
 opacity: 0%;
 animation-fill-mode: both; 
 margin-left: 55px;


}

@keyframes paymentminiup1 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}

.paymentminiup2
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 2.3s;
    animation-name:paymentminiup2;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup2 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup3
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 2.6s;
    animation-name:paymentminiup3;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup3 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}

.paymentminiup4
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 2.8s;
    animation-name:paymentminiup4;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup4 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}


.paymentminiup5
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 2.9s;
    animation-name:paymentminiup5;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup5 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}


.paymentminiup6
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 3s;
    animation-name:paymentminiup6;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
    margin-right: 100px;
   
}

@keyframes paymentminiup6 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: #2c71f6;
   }
}


.paymentminiup7
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 3.2s;
    animation-name:paymentminiup7;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
    width: 33px;

   
}

@keyframes paymentminiup7 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup8
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 3.4s;
    animation-name:paymentminiup8;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both;
   

   
   
}

@keyframes paymentminiup8 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup9
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 3.6s;
    animation-name:paymentminiup9;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup9 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup10
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 3.8s;
    animation-name:paymentminiup10;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup10 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup11
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 3.9s;
    animation-name:paymentminiup11;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup11 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup12
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 4s;
    animation-name:paymentminiup12;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup12 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup13
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 4.2s;
    animation-name:paymentminiup13;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup13 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}



.paymentminiup14
{
    font-size: 20px;
    display: inline-block;
    animation-delay: 4.4s;
    animation-name:paymentminiup14;
    animation-duration: 1s;
    opacity: 0%;
    animation-fill-mode: both; 
   
   
}

@keyframes paymentminiup14 {
   0% {opacity: 0%;
   }
   100% {opacity: 100%;
      font-size: 20px;
      color: white;
   }
}

/* PAYMENT MINITABLOID  */



.paymentminitabloidcontent
{

margin-top: 44%;
height:30%;
width: 100%;
font-family: Circular Pro Book, sans-serif;  
text-align: center;
font-weight: bold;
color: white;
}

.paymentminitabloid1
{

margin-left: 100px;
margin-top: 4%;
height: 20%;
width: 15%;
font-family: Circular Pro Book, sans-serif; 
position: absolute;
}

.paymentminitabloid2
{

margin-left: 29%;
margin-top: 4%;
height: 20%;
width: 15%;
font-family: Circular Pro Book, sans-serif; 
position: absolute;


}


.paymentminitabloid3
{

   margin-left: 53%;
   margin-top: 4%;
   height: 20%;
   width: 15%;
   font-family: Circular Pro Book, sans-serif; 
   position: absolute;
   
   

}


.paymentminitabloid4
{
 
   margin-left: 76.45%;
   margin-top: 4%;
   height: 20%;
   width: 15%;
   font-family: Circular Pro Book, sans-serif; 
   position: absolute;


}
