
    .mark2ndpage{
     background-color: rgb(153, 97, 175);
     height: 900px;
     width: 100%;
   
     color: azure;
     display: flex;
     justify-content: center;
     font-family: "Sitka Banner Semibold";
     border-radius: 25px;
    }

 
.secondpagetitle{

  height: 5%;
  width: 10%;
  position: absolute;
  padding: 1%;
  text-align: center;
  margin-top: 5px;
  }



/* my works */


.work1, .work2, .work3{
margin-top: 70px;
background-color: rgba(174, 151, 196, 0.89);
height: 50px;
width: 20%;
text-align: center;
padding: 20px;
height: 50%;
border-radius: 20px;
box-shadow: 5px 5px 5px #243538;
font-size: 25px;
}

.work1{
margin-right: 20px;

}

.work2{

  margin-right: 20px;
}

.work3{


}


.work1:hover, .work2:hover, .work3:hover  {
  background-color: red;

  }

.clonewebsitevid{
  height: 90%;
  width: 100%;
  overflow: hidden;
}


.todoapppiccontainer{
  height: 90%;
  width: 100%;

  background-image: url("ToDo Web.jpg");
  background-size: 100%;
  background-repeat: no-repeat;


}

