
    .mark2ndpage{
     background-color: rgb(153, 97, 175);
     height: 900px;
     width: 100%;
     color: azure;  
     font-family: "Sitka Banner Semibold";
     border-radius: 25px;
     text-shadow: 2px 2px 4px #000000;
     display: block;
    }

 
.secondpagetitle{
  margin-top: 2px;
  height: 5%;
  width: 100%;
  padding: 1%;
  text-align: center;
  background-color: initial;
  }

.secondpageworkscontainer{
 background-color: initial;
 padding: 1px;
 height: 90%;
 width: 100%;
 display: flex;
}




/* my works */


.work1, .work2, .work3{

background-color: rgba(174, 151, 196, 0.89);
height: 40px;
width: 20%;
margin-top: 70px;
text-align: center;
padding: 20px;
height: 50%;
border-radius: 20px;
box-shadow: 5px 5px 5px #243538;
font-size: 2vw;
}

.work1{
margin-right: 20px;
margin-left: 20%;


}

.work2{

  margin-right: 20px;
}

.work3{


}


.work1:hover, .work2:hover, .work3:hover  {
  background-color: white;

  }

.clonewebsitevid{
  height: 100%;
  width: 100%;
}


.todoapppiccontainer{
  height: 90%;
  width: 100%;
  background-image: url("ToDo Web.jpg");
  background-size: 100%;
  background-repeat: no-repeat;


}

